.git
.github
.idea
.vscode

node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.corepack

**/.next
**/out
**/build
**/.gradle
.gradle-local

*.log
**/*.log
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!*.env.example
!apps/**/.env.example
!infra/**/*.env.example
