SPRING_R2DBC_URL=r2dbc:postgresql://localhost:5432/caltrek
SPRING_R2DBC_USERNAME=caltrek
SPRING_R2DBC_PASSWORD=caltrek
SPRING_SQL_INIT_MODE=never
OPENFOODFACTS_BASE_URL=https://world.openfoodfacts.org
NUTRIDATABAZE_BASE_URL=
